# ===== ENV =====
.env
.env.*

# ===== BUILD =====
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# ===== GO DEBUG =====
__debug_bin*
*.prof

# ===== DATABASE =====
*.db
*.sqlite
*.sqlite3

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store